In [171]:
import pandas as pd
import numpy as np
import os

from datetime import datetime,timedelta

In [172]:
dfParameter = pd.read_csv('../../readyData/newFrame.csv')
dfParameter

,id_marsh,date_in,id_el,art_num,result
0,4137413,2023-09-08 02:07:29.443,21442,L31FK4AN76-10.0,Соответствует
1,4348147,2023-10-16 01:34:34.267,21580,L8FMS5AR196_M,Сухой ровинг
2,1735523,2022-06-10 10:35:20.127,20299,L31FK12AN76,Соответствует
3,2997756,2023-04-29 21:12:36.150,21352,L41FK17AN95G-10.0,Соответствует
4,4431302,2023-10-13 17:36:18.207,21442,L31FK4AN76-10.0,"Пузыри, поры, раковины на наружной поверхности"
...,...,...,...,...,...
17119,4482134,2023-10-24 05:55:55.110,21582,L8FMS4AN196_10.0,Инородные включения в структурной стенке
17120,1965408,2022-10-26 00:05:46.210,21213,L12FML6AN300A,Расслоение по телу
17121,2557163,2023-02-18 01:28:32.923,20303,L6FML4AN148,Инородные включения в структурной стенке
17122,2229923,2023-01-11 00:42:43.100,20701,D23CK17AN47,Расслоение по телу
17123,3075510,2023-05-07 18:27:41.513,21411,D27CK13AN61-9.7,Соответствует

In [173]:
resultArray = pd.DataFrame(dfParameter['result'].unique(), columns=['result_name'])
resultArray

                                       result_name
0                                    Соответствует
1                                     Сухой ровинг
2   Пузыри, поры, раковины на наружной поверхности
3                               Расслоение по телу
4                             Расслоение по торцам
5                Трещины на внутренней поверхности
6         Инородные включения в структурной стенке
7                               Оторванные волокна
8                  Трещины на наружной поверхности
9                                          Вздутие
10                       Щель между нитями ровинга
11                       Сбой режима полимеризации
12                       Несоответствие маркировки
13                                Термический след
14                               Сколы поверхности
15                                        Царапины
16   Инородные включения на внутренней поверхности
17                                 Скопление смолы
18                         Разгерметизация по телу
19                  Избыток смолы на одной стороне
20                   Несоответствие длины подмотки

In [174]:
resultArray.to_csv('../../readyData/resultList.csv', index=False)

In [176]:
  
dfParameter['result_ind'] = ''
for i in range(len(dfParameter)):
    dfParameter['result_ind'].iloc[i] = np.int_(resultArray[resultArray['result_name'] == dfParameter['result'].iloc[i]].index.values)[0]
dfParameter

,id_marsh,date_in,id_el,art_num,result,result_ind
0,4137413,2023-09-08 02:07:29.443,21442,L31FK4AN76-10.0,Соответствует,0
1,4348147,2023-10-16 01:34:34.267,21580,L8FMS5AR196_M,Сухой ровинг,1
2,1735523,2022-06-10 10:35:20.127,20299,L31FK12AN76,Соответствует,0
3,2997756,2023-04-29 21:12:36.150,21352,L41FK17AN95G-10.0,Соответствует,0
4,4431302,2023-10-13 17:36:18.207,21442,L31FK4AN76-10.0,"Пузыри, поры, раковины на наружной поверхности",2
...,...,...,...,...,...,...
17119,4482134,2023-10-24 05:55:55.110,21582,L8FMS4AN196_10.0,Инородные включения в структурной стенке,6
17120,1965408,2022-10-26 00:05:46.210,21213,L12FML6AN300A,Расслоение по телу,3
17121,2557163,2023-02-18 01:28:32.923,20303,L6FML4AN148,Инородные включения в структурной стенке,6
17122,2229923,2023-01-11 00:42:43.100,20701,D23CK17AN47,Расслоение по телу,3
17123,3075510,2023-05-07 18:27:41.513,21411,D27CK13AN61-9.7,Соответствует,0

In [195]:
dfPress = pd.read_csv('../../readyData/pressParamrter_.csv')
dfPress

         Number  Pres  Temp
0         61730   1.7   184
1         61735   1.9   197
2         61739   1.9   180
3         61740   1.7   195
4         61745   2.0   198
...         ...   ...   ...
976802  4688036   1.9   195
976803  4688047   2.0   191
976804  4688048   1.9   185
976805  4688059   1.8   189
976806  4688060   1.9   198

[976807 rows x 3 columns]

In [196]:
dfParameter['press'] = ''
dfParameter['T_steam'] = ''
for i in range(len(dfParameter)):
    dfParameter['press'].iloc[i] = np.float64(dfPress['Pres'].loc[((dfPress['Number'] == dfParameter['id_marsh'].iloc[i]))])
    dfParameter['T_steam'].iloc[i] = np.float64(dfPress['Temp'].loc[((dfPress['Number'] == dfParameter['id_marsh'].iloc[i]))])
dfParameter

c:\Users\Rusta\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,id_marsh,date_in,id_el,art_num,result,result_ind,press,day_begin_hour,temp,hydr,T_steam
0,4137413,2023-09-08 02:07:29.443,21442,L31FK4AN76-10.0,Соответствует,0,1.7,2023-09-08 02,19.0,46.0,188.0
1,4348147,2023-10-16 01:34:34.267,21580,L8FMS5AR196_M,Сухой ровинг,1,2.0,2023-10-16 01,21.0,50.0,186.0
2,1735523,2022-06-10 10:35:20.127,20299,L31FK12AN76,Соответствует,0,2.0,2022-06-10 10,21.0,54.0,191.0
3,2997756,2023-04-29 21:12:36.150,21352,L41FK17AN95G-10.0,Соответствует,0,1.8,2023-04-29 21,23.0,55.0,181.0
4,4431302,2023-10-13 17:36:18.207,21442,L31FK4AN76-10.0,"Пузыри, поры, раковины на наружной поверхности",2,1.2,2023-10-13 17,19.0,48.0,166.0
...,...,...,...,...,...,...,...,...,...,...,...
17119,4482134,2023-10-24 05:55:55.110,21582,L8FMS4AN196_10.0,Инородные включения в структурной стенке,6,1.8,2023-10-24 05,19.0,54.0,204.0
17120,1965408,2022-10-26 00:05:46.210,21213,L12FML6AN300A,Расслоение по телу,3,1.3,2022-10-26 00,19.0,45.0,182.0
17121,2557163,2023-02-18 01:28:32.923,20303,L6FML4AN148,Инородные включения в структурной стенке,6,1.9,2023-02-18 01,23.0,49.0,204.0
17122,2229923,2023-01-11 00:42:43.100,20701,D23CK17AN47,Расслоение по телу,3,1.3,2023-01-11 00,22.0,47.0,182.0
17123,3075510,2023-05-07 18:27:41.513,21411,D27CK13AN61-9.7,Соответствует,0,1.9,2023-05-07 18,20.0,52.0,180.0

In [197]:
dfTemp = pd.read_csv('../../readyData/climatRoom.csv')
dfTemp = dfTemp.drop(columns=['Unnamed: 0'], axis=1)
dfTemp

                    day  temp  hydr            day_begin              day_end
0       01.01.2019 0:00  18.0  51.0  2019-01-01 00:00:00  2019-01-01 01:00:00
1       01.01.2019 1:00  21.0  54.0  2019-01-01 01:00:00  2019-01-01 02:00:00
2       01.01.2019 2:00  20.0  53.0  2019-01-01 02:00:00  2019-01-01 03:00:00
3       01.01.2019 3:00  19.0  51.0  2019-01-01 03:00:00  2019-01-01 04:00:00
4       01.01.2019 4:00  23.0  48.0  2019-01-01 04:00:00  2019-01-01 05:00:00
...                 ...   ...   ...                  ...                  ...
42596  10.11.2023 20:00  22.0  53.0  2023-11-10 20:00:00  2023-11-10 21:00:00
42597  10.11.2023 21:00  21.0  52.0  2023-11-10 21:00:00  2023-11-10 22:00:00
42598  10.11.2023 22:00  20.0  48.0  2023-11-10 22:00:00  2023-11-10 23:00:00
42599  10.11.2023 23:00  21.0  51.0  2023-11-10 23:00:00  2023-11-11 00:00:00
42600   11.11.2023 0:00  22.0  48.0  2023-11-11 00:00:00  2023-11-11 01:00:00

[42601 rows x 5 columns]

In [198]:
dfTemp['day_begin_hour'] = dfTemp['day_begin'].apply(
    lambda x: x.split(':')[0]
)    
dfTemp

,day,temp,hydr,day_begin,day_end,day_begin_hour
0,01.01.2019 0:00,18.0,51.0,2019-01-01 00:00:00,2019-01-01 01:00:00,2019-01-01 00
1,01.01.2019 1:00,21.0,54.0,2019-01-01 01:00:00,2019-01-01 02:00:00,2019-01-01 01
2,01.01.2019 2:00,20.0,53.0,2019-01-01 02:00:00,2019-01-01 03:00:00,2019-01-01 02
3,01.01.2019 3:00,19.0,51.0,2019-01-01 03:00:00,2019-01-01 04:00:00,2019-01-01 03
4,01.01.2019 4:00,23.0,48.0,2019-01-01 04:00:00,2019-01-01 05:00:00,2019-01-01 04
...,...,...,...,...,...,...
42596,10.11.2023 20:00,22.0,53.0,2023-11-10 20:00:00,2023-11-10 21:00:00,2023-11-10 20
42597,10.11.2023 21:00,21.0,52.0,2023-11-10 21:00:00,2023-11-10 22:00:00,2023-11-10 21
42598,10.11.2023 22:00,20.0,48.0,2023-11-10 22:00:00,2023-11-10 23:00:00,2023-11-10 22
42599,10.11.2023 23:00,21.0,51.0,2023-11-10 23:00:00,2023-11-11 00:00:00,2023-11-10 23
42600,11.11.2023 0:00,22.0,48.0,2023-11-11 00:00:00,2023-11-11 01:00:00,2023-11-11 00

In [199]:
dfParameter['day_begin_hour'] = dfParameter['date_in'].apply(
    lambda x: x.split(':')[0]
)    
dfParameter

,id_marsh,date_in,id_el,art_num,result,result_ind,press,day_begin_hour,temp,hydr,T_steam
0,4137413,2023-09-08 02:07:29.443,21442,L31FK4AN76-10.0,Соответствует,0,1.7,2023-09-08 02,19.0,46.0,188.0
1,4348147,2023-10-16 01:34:34.267,21580,L8FMS5AR196_M,Сухой ровинг,1,2.0,2023-10-16 01,21.0,50.0,186.0
2,1735523,2022-06-10 10:35:20.127,20299,L31FK12AN76,Соответствует,0,2.0,2022-06-10 10,21.0,54.0,191.0
3,2997756,2023-04-29 21:12:36.150,21352,L41FK17AN95G-10.0,Соответствует,0,1.8,2023-04-29 21,23.0,55.0,181.0
4,4431302,2023-10-13 17:36:18.207,21442,L31FK4AN76-10.0,"Пузыри, поры, раковины на наружной поверхности",2,1.2,2023-10-13 17,19.0,48.0,166.0
...,...,...,...,...,...,...,...,...,...,...,...
17119,4482134,2023-10-24 05:55:55.110,21582,L8FMS4AN196_10.0,Инородные включения в структурной стенке,6,1.8,2023-10-24 05,19.0,54.0,204.0
17120,1965408,2022-10-26 00:05:46.210,21213,L12FML6AN300A,Расслоение по телу,3,1.3,2022-10-26 00,19.0,45.0,182.0
17121,2557163,2023-02-18 01:28:32.923,20303,L6FML4AN148,Инородные включения в структурной стенке,6,1.9,2023-02-18 01,23.0,49.0,204.0
17122,2229923,2023-01-11 00:42:43.100,20701,D23CK17AN47,Расслоение по телу,3,1.3,2023-01-11 00,22.0,47.0,182.0
17123,3075510,2023-05-07 18:27:41.513,21411,D27CK13AN61-9.7,Соответствует,0,1.9,2023-05-07 18,20.0,52.0,180.0

In [200]:
dfParameter['temp'] = ''
dfParameter['hydr'] = ''
for i in range(len(dfParameter)):
    dfParameter['temp'].iloc[i] = np.float64(dfTemp['temp'].loc[((dfTemp['day_begin_hour'] == dfParameter['day_begin_hour'].iloc[i]))])
    dfParameter['hydr'].iloc[i] = np.float64(dfTemp['hydr'].loc[((dfTemp['day_begin_hour'] == dfParameter['day_begin_hour'].iloc[i]))])
dfParameter

c:\Users\Rusta\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,id_marsh,date_in,id_el,art_num,result,result_ind,press,day_begin_hour,temp,hydr,T_steam
0,4137413,2023-09-08 02:07:29.443,21442,L31FK4AN76-10.0,Соответствует,0,1.7,2023-09-08 02,19.0,46.0,188.0
1,4348147,2023-10-16 01:34:34.267,21580,L8FMS5AR196_M,Сухой ровинг,1,2.0,2023-10-16 01,21.0,50.0,186.0
2,1735523,2022-06-10 10:35:20.127,20299,L31FK12AN76,Соответствует,0,2.0,2022-06-10 10,21.0,54.0,191.0
3,2997756,2023-04-29 21:12:36.150,21352,L41FK17AN95G-10.0,Соответствует,0,1.8,2023-04-29 21,23.0,55.0,181.0
4,4431302,2023-10-13 17:36:18.207,21442,L31FK4AN76-10.0,"Пузыри, поры, раковины на наружной поверхности",2,1.2,2023-10-13 17,19.0,48.0,166.0
...,...,...,...,...,...,...,...,...,...,...,...
17119,4482134,2023-10-24 05:55:55.110,21582,L8FMS4AN196_10.0,Инородные включения в структурной стенке,6,1.8,2023-10-24 05,19.0,54.0,204.0
17120,1965408,2022-10-26 00:05:46.210,21213,L12FML6AN300A,Расслоение по телу,3,1.3,2022-10-26 00,19.0,45.0,182.0
17121,2557163,2023-02-18 01:28:32.923,20303,L6FML4AN148,Инородные включения в структурной стенке,6,1.9,2023-02-18 01,23.0,49.0,204.0
17122,2229923,2023-01-11 00:42:43.100,20701,D23CK17AN47,Расслоение по телу,3,1.3,2023-01-11 00,22.0,47.0,182.0
17123,3075510,2023-05-07 18:27:41.513,21411,D27CK13AN61-9.7,Соответствует,0,1.9,2023-05-07 18,20.0,52.0,180.0

In [201]:
totalFrame = dfParameter.drop(columns=['id_marsh','date_in','art_num','result','day_begin_hour'], axis=1)
totalFrame

       id_el result_ind press  temp  hydr T_steam
0      21442          0   1.7  19.0  46.0   188.0
1      21580          1   2.0  21.0  50.0   186.0
2      20299          0   2.0  21.0  54.0   191.0
3      21352          0   1.8  23.0  55.0   181.0
4      21442          2   1.2  19.0  48.0   166.0
...      ...        ...   ...   ...   ...     ...
17119  21582          6   1.8  19.0  54.0   204.0
17120  21213          3   1.3  19.0  45.0   182.0
17121  20303          6   1.9  23.0  49.0   204.0
17122  20701          3   1.3  22.0  47.0   182.0
17123  21411          0   1.9  20.0  52.0   180.0

[17124 rows x 6 columns]

In [202]:
totalFrame.to_csv('../../readyData/totalDS.csv', index=False)